# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C. LEARN FROM PROJECT\0. PRACTICE\2021Year\01_SPRINGBOOT_SERIAL\HAPPY_NEW_YEAR_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
